.grid-container{
display: grid;
grid-template-columns: 25vw 25vw 25vw;
grid-template-rows: 25vh 25vh 25vh;
gap: 20px;
justify-content: center;
}
.grid-container > div {
    background-color: rgb(122, 122, 250);
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
  }
#item1{
grid-row: 1/3;
}
#item7{
grid-column: 2/4;
}
h1{
    color: orange;
}

