.flex-container
{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    width: 100%;
    flex-wrap: wrap;
    
}
.item
{
background-color: pink;
padding: 50px 55px 50px 55px;
}
body
{
    margin: 0;
    background-color: green;
}