
body
{ background-size: 100%;
   
font-family: Arial, sans-serif;
margin: 0;

}
header
{ height: 70px;
    background-color: rgba(34, 37, 69, 0.5);
    width: 100%;
    top: 0%;
    opacity: 0,7;
}
.odkazy{
    display: flex;
    flex-direction: row;
    gap: 100px;
    position: absolute;
    color: white;
    top: 36px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}
.text
{
    width: 700px;
    height: 200px;
    background: white;
    margin-left: 50%;
    margin-right: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    /* filter: drop-shadow(5px 2px 52px white); */
    box-shadow: -2px -2px 30px 20px rgba(255,255,255,0.71);
 
}